/*
COLORS:

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
def 16 62 20
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
32 4.8
border-radius:3.2
letter-spacing 36
logo-size 3.2
animation : .5s 


...............
font-weight:100 300 400 700 900
def:400 700
****
font-sizes:16
defualt 16
line-height:DEF 1.7
*/
@import './abstract/variable';
@import './abstract/function';
@import './abstract/mixin';




@import './base/base';
@import './base/animation';
@import './base/typography';
@import './base/utility';
// comp
@import './components/slider';
@import './components/buttons';
@import './layout/navigation';

@import './pages/home';


