
$color-primary1: black;
$color-primary2:hsl(0, 0%, 27%);
$color-primary3: hsl(0, 0%, 63%);
$color-primary4: hsl(0, 0%, 100%);

$color-neu1:hsl(0, 0%, 100%);
$color-neu2:hsl(240, 2%, 79%);
$color-neu3:hsl(207, 13%, 34%);
$color-neu4:hsl(240, 10%, 16%);

$color-gradient1:hsl(13, 100%, 72%);
$color-gradient2:hsl(353, 100%, 62%);
$color-gradient3:hsl(237, 17%, 21%);
$color-gradient4:hsl(237, 23%, 32%);






$font-size-defualy:1.2rem;
$font-family1:'League Spartan';
$font-family2:'Ubuntu';
// 500, 600, 700
$font-weight-defualt:500;

